<h1>Welcome to the longest word-game </h1>
<p>Here is your grid :</p>


<p><%= @grid %></p>

<form action="/score" >
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input type="hidden" name="grid" value="<%= @grid %>">
  <label for="question">your word :</label>
  <input type="text" id="question" name="answer" placeholder="your answer">
  <input type="submit" value="Go on!">
</form>


